.contact-container {
  padding: 30px;
  background-image: url("https://images.pexels.com/photos/14161885/pexels-photo-14161885.png?cs=srgb&dl=pexels-senthil-manikandan-1962908-14161885.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: blur(2px);
}

.contact-title {
  text-align: center;
  font-size: 35px;
  color: rgb(15, 15, 15);
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-section {
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.35);
  padding: 20px;
  border-radius: 15px;
}

.contact-category {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 2px solid #26262659;
  padding-bottom: 5px;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.contact-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  color: #171717d7;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.contact-card:hover {
  background: #007bff;
  color: white;
  transform: scale(1.05);
}
