.signup-container {
  width: 100%;
  height: 100vh;
  background: url("https://i.pinimg.com/736x/6e/de/b2/6edeb2af83cefedbbf475e6053fda5c9.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 380px;
  background: rgba(255, 255, 255, 0.75);
  padding: 30px;
  border-radius: 12px;
  color: #000000;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 15px;
}

.input-group input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 15px;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #007bff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.signup-btn:hover {
  background: #007bff;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-text span {
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
}
